.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding: 0 14px;
  box-sizing: content-box;
  .canvas-config {
    display: flex;
    align-items: center;
    gap: 10px;
    .canvas-input{
      width: 50px;
    }
  }
}
